---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="運営者情報">
  <section class="container">
    <div class="article-body">
      <h1>運営者情報</h1>
      <p>(運営者情報をここに記載してください)</p>
    </div>
  </section>
</BaseLayout>
