---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="お問い合わせ">
  <section class="container">
    <div class="article-body">
      <h1>お問い合わせ</h1>
      <p>(お問い合わせ先をここに記載してください)</p>
    </div>
  </section>
</BaseLayout>
