---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="プライバシーポリシー">
  <section class="container">
    <div class="article-body">
      <h1>プライバシーポリシー</h1>
      <p>(プライバシーポリシーをここに記載してください)</p>
    </div>
  </section>
</BaseLayout>
